/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors */
$black: #000000;
$white: #FFFFFF;
$gray-100: #F5F5F5;
$gray-500: #9E9E9E;
$orange-300: #FFB74D;
$green-500: #8BC34A;
$green-900: #33691E;

/* shadows */
$shadow-heavy: 50px 50px 30px rgba(0, 0, 0, 0.25);
$shadow-in: inset 2px 2px 2px #C8C9C9, inset -2px -2px 2px #FFFFFF;

/* font-families */
$font-play: 'Play', sans-serif;
$font-bitter: 'Bitter', sans-serif;

/* container styles*/
$container-standart-width: 1200px;
$container-width: 100%;
$container-padding: 0 15px;
$container-margin: 0 auto;
$container-box: border-box;

html {
    @media(max-width: 1025px){
        font-size: 9px;
    }
}
.breadcrumb {
    @media(max-width: 370px){
        display: none;
    }
}
header.header {
    @media(max-width: 1025px){
        height: 220px;

        & .container {
            padding: 20px 15px;

            & .header__logo {

                & a {
                    display: block;
                    width: 100px;
                    height: 100px;

                    & img {
                        width: 100%;
                        object-fit: cover;
                        display: inline;
                        max-width: none;
                        height: 100%;
                    }
                }
            }
        }
    }
}
.h1-doc {
    @media(max-width: 1025px){
        margin: 4rem auto 3rem auto;
    }
}
.front {
    @media(max-width: 1025px){

        section {
            margin: 0 auto 40px auto;
        }

        .h1-doc {
            margin: 2px auto 3rem auto;
        }
    }
}
.block-title {
    @media(max-width: 1025px){
        margin: 0 auto 4rem auto;
    }
    @media(max-width: 769px){
        font-size: 3.2rem;
    }
    @media(max-width: 500px){
        font-size: 2.2rem;
    }
}
.page-node-4 {
    @media(max-width: 550px){

        & header.header {
            background: url('../images/notfrontheader.png') no-repeat center;
            background-size: cover;
        }

        & .js-tech-page-wrapper {
            background: $white;
            height: auto;
        }

        & .region-content {

            & .node-page {
    
                & .error-block {
    
                    & .content {
                        margin: 3rem auto;
    
                        & .error-number {                            
                            display: block;
                            color: $black;
                        }
    
                        & .error-title {
                            font-size: 4rem;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}
.page-node-5 {
    @media(max-width: 550px){

        & header.header {
            background: url('../images/notfrontheader.png') no-repeat center;
            background-size: cover;
        }

        & .js-tech-page-wrapper {
            background: $white;
            height: auto;
        }

        & .region-content {

            & .node-page {
    
                & .error-block {
    
                    & .content {
                        margin: 3rem auto;
    
                        & .error-number {                            
                            display: block;
                        }
    
                        & .error-title {
                            font-size: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}



.index-categories {

    @media(max-width: 1025px){

        & .view-categories {
            
            & .view-footer {
                margin: 3rem 0 0 0;
            }

            & .view-content {
    
                & .views-row {
                    max-width: calc(50% - 30px);
    
                    & .category-image {
                        height: 50%;
    
                        &::after {
                            display: none;
                        }
                    }
                    & .category-text {
                        height: 50%;
                        position: relative;
                        background: $green-500;
                        border-radius: 0 0 50px 0;
                        transform: none;
                        padding: 2rem 3rem;
    
                        & .views-field-name-1 {
    
                            & .field-content {
                                font-size: 1.8rem;
                            }
                        }
    
                        & .views-field-description {
                            margin: 0 0 2rem 0;
    
                            & .field-content {
                                font-size: 1.4rem;
    
                                & p {
                                    font-size: 1.4rem;
                                }
                            }
                        }
    
                        & .views-field-name {
                            margin: 0;
    
                        }
                    }
    
                    &:hover .category-text {
                        transform: none;
                    }
                    &:hover .category-image {
                        
                        &::after {
                            transform: none;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 769px){
        & .view-categories {
    
            & .view-content {
                margin: 0 auto;
                width: 100%;
    
                & .views-row {
                    max-width: 100%;
                    margin: 0 0 2.5rem 0;
                }
            }
        }
    }
}

.index-about {

    @media(max-width: 1050px){
        & .view-offer {
    
            & .view-content {
    
                & .views-row {
                    max-width: calc(50% - 30px);
                    margin: 0 0 30px 30px;

                    & .field-text {

                        & .views-field-title {
                            margin: 0 0 1.2rem 0;
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 769px){

        & .view-offer {
    
            & .view-content {
    
                & .views-row {
                    max-width: 100%;
                    margin: 0 0 3rem 0;

                    & .fieldset-picture {
                        max-width: calc(20% - 15px);
                        width: 100%;
                        margin: 0 15px 0 0;
                        
                        & img {
                            max-width: 80px;
                            height: auto;
                        }
                    }
                    & .field-text {
                        max-width: 80%;
                        width: 100%;
                    }
                }
            }
        }
    }
    @media(max-width: 490px){

        & .view-offer {
    
            & .view-content {
    
                & .views-row {

                    & .fieldset-picture {
                        display: none;
                    }
                    & .field-text {
                        max-width: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.index-blog {
    @media(max-width: 1025px){
        & h2 {
            margin: 0 auto 4rem auto;
        }
    
        & .view-blog-main-view {
    
            & .view-content {
                height: auto;
                margin: 0 0 171px -30px;
    
                & .views-row {
                    max-width: calc(50% - 30px);
                    max-height: 100%;
                    height: auto;
                    background: $green-500;
                    display: none;

                    & .views-field-created {
        
                        & span {
                            color: $white;
                        }
                    }
                    & .views-field-title {
    
                        & span {
                            color: $white;
                        }
    
                        & a {
                            color: $white;
                        }
                    }

                    &:first-child {
                        display: block;
                    }
                    &:last-child {
                        display: block;
                    }
    
    
                    &:hover {
                        max-height: 100%;
                        height: auto;
                        background: $green-500;
                        box-shadow: none;
                        transition: none;
    
                        & .views-field-field-img-1 {
    
                            & img {
                                box-shadow: none;
                                animation: none;
                            }
                        }
    
                    }
                }
            }
        }
    }
    @media(max-width: 670px){
        & h2 {
            margin: 0 auto 4rem auto;
        }
    
        & .view-blog-main-view {

            & .view-content {
                height: auto;
                width: 100%;
                margin: 0 auto 171px auto;
    
                & .views-row {
                    max-width: 100%;
                    max-height: 100%;
                    height: auto;
                    background: $green-500;
                    display: none;
                    margin: 0;

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

header.header {
    @media(max-width: 1025px){
        .container {

            & .header__navigation {
                display: none;
            }
        }
    }
}

/* sidebuttonMobile */
.hidden-menu {

    @media(max-width: 1025px){
        
        & .container {
            padding: 7rem 15px;

            & .row1 {
                margin: 0 0 4rem 0;
            }
            & .row2 {
                margin: 0 0 4rem 0;

                & .region-schedule {
                    flex-flow: wrap;

                    & .block-menu {
                        max-width: calc(30% - 3rem);
                        width: 100%;
                        margin: 0 3rem 3rem 0;
                    }
                    & .block-views {
                        max-width: 70%;
                        width: 100%;
                        flex-grow: 1;
                        margin: 0 0 3rem 0;
                    }
                    & .block-block {
                        max-width: 100%;
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
    @media(max-width: 670px){
        
        & .container {
            padding: 6rem 15px;

            & .row1 {
                margin: 0 0 3rem 0;
            }
            & .row2 {
                margin: 0 0 3rem 0;

                & .region-schedule {
                    flex-flow: wrap;

                    & .block-menu {
                        max-width: calc(50% - 3rem);
                        width: 100%;
                        margin: 0 3rem 0 0;
                        order: 1;
                    }
                    & .block-views {
                        max-width: 100%;
                        width: 100%;
                        flex-grow: 1;
                        margin: 0 0 3rem 0;
                        order: 0;
                    }
                    & .block-block {
                        max-width: 50%;
                        width: 100%;
                        margin: 0;
                        order: 2;
                    }
                }
            }
            & .row3 {

                & section.block-block {
                    flex-direction: column;
                    align-items: flex-start;

                    & address {
                        margin: 0 0 2rem 0;
                    }
                    & p {

                        &:first-of-type {
                            margin: 0 0 2rem 0;
                        }
                        &:last-of-type {
                            margin: 0 0 2rem 0;
                        }

                    }
                }
            }
        }
    }
    @media(max-width: 550px){

        & .hidden-menu__logo {
            display: none;
        }
    }
}
.js-menu-button {
    right: -2px;

    @media(max-width: 1025px){
        top: 0;
        height: 30rem;
        width: 36px;

        &::before {
            right: -120%;
        }
    }
    @media(max-width: 450px){
        top: 8px;
        width: 40px;
        height: 40px;
        background: $black;
        right: 8px;
        border-radius: 5px;
        overflow: hidden;

        &::before {
            width: 100%;
            height: 100%;
            background: $white;
        }
    }
}
.js-button-triggered {
    
    @media(max-width: 1025px){
        &::before {
            right: -10px;
            background: url("../images/menubuttonwhite.svg") no-repeat left;
            width: 110%;
        }
    }
    @media(max-width: 450px){

        &::before {
            right: 0;
        }
    }
}

.front {
    @media(max-width: 1025px){

        & .under-header {
            min-height: 600px;
            height: calc(100vh + 110px);

            &::before {
                top: -190px;
                height: calc(100% + 50px);
            }

            & .container {
                padding: 0 15px 30px 15px;
                margin: 190px auto 0 auto;

                & .group-banner-1 {
                    display: flex;
                }

                & .img-comp-container {
                    height: 400px;

                    & .img-comp-text {
                        max-width: 100%;
                        margin: 0 0 3rem 0;
                    }

                    & .img-comp-img {
                        display: none;
                    }
                }
            }
        }

    }
    @media(max-width: 769px){
        .under-header {

            & .container {

                & .img-comp-container {

                    & .img-comp-text {

                        & > div {
                            
                            & p {
                                font-size: 1.6rem;
                                margin: 0 0 1.8rem 0;

                                &:first-child {
                                    font-size: 3.3rem;
                                }

                                & .btn {
                                    margin: 3rem 0 0 0;
                                    height: 50px;
                                }
                            }
                        }

                        & > .js-griding-type1 {

                            & .field-items {

                                & .field-item {

                                    & p {

                                        &:first-child {
                                            font-size: 2rem;
                                            margin: 0 0 2rem 0;
                                        }
                                        &:nth-child(2) {
                                            font-size: 4rem;
                                            margin: 0 0 2rem 0;
                                        }
                                        &:nth-child(3) {
                                            font-size: 2rem;
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }    
    }

    @media(max-width: 380px){

        & .under-header {
            min-height: 400px;
            height: calc(100vh - 50px);

            &::before {
                height: calc(100% + 100px);
            }

            & .container {

                & .img-comp-container {
                    height: 380px;
                }
            }
        }
    }
} 

footer.footer {
    @media(max-width: 1150px){
        & .container {

            & .row1 {

                & .footer__logo {
                    margin: 0 10% 0 0;
                }
            }
        }
    }
    @media(max-width: 1025px){
        padding: 4rem 0;

        & .container {

            & .row1 {
                margin: 0 0 30px 0;
                flex-flow: wrap;

                & .footer__logo {
                    width: 100%;
                    max-width: 100%;
                    margin: 0 0 3rem 0;
                }
            }
        }
    }
    @media(max-width: 780px){
        & .container {

            & .row1 {

                & .footer__navigation {

                    & .region {

                        & .block-menu {
                            margin: 0 3rem 0 0;

                            & ul {
                                grid-template-columns: 1fr;
                                grid-column-gap: 4rem;
                            }
                        }
                    }
                }
            } 
        }
    }
    @media(max-width: 550px){
        & .container {

            & .row1 {

                & .footer__navigation {

                    & .region {

                        & .block-menu {
                            margin: 0 0 3rem 0;
                        }
                    }
                }
            } 
            & .row2 {
                flex-direction: column;
                align-items: flex-start;

                & .footer__dev-logo {
                    margin: 3rem 0 0 0;
                }
            }
        }
    }
}

.page-blog {
    @media(max-width: 1200px){

        & .main {

            & .container {

                & .region {
     
                    & .block-system {
     
                        & .view {
     
                            & .view-content {
     
                                & .js-news-item {
                                     max-width: calc(33% - 30px);
                                }
                            }
                         }
                     }
                 }
             }    
        } 
    }
    @media(max-width: 1025px){

        & .main {
            
            & .container {

                & .region {
     
                    & .block-system {
     
                        & .view {
     
                            & .view-content {
     
                                & .js-news-item {
                                    max-width: calc(50% - 30px);
                                    height: auto;

                                    & .views-row {
                                        max-height: 100%;
                                        height: auto;
                                        background: #8BC34A;
                                        border-radius: 6px;

                                        position: relative;
                                        left: auto;
                                        top: auto;
                                        justify-content: space-between;

                                        & .views-field-title {
                                            margin: 0 0 2rem 0;

                                            & span {

                                                & a {
                                                    color: $white;
                                                }
                                            }
                                        }

                                        & .views-field-created {
                                            margin: 0 0 2rem 0;

                                            & span {
                                                color: $white;
                                            }
                                        }

                                        & .views-field-view-node {
                                            margin: 0 0 2rem 0;

                                            & span {

                                                & a {
                                                    color: $green-900;
                                                }
                                            }
                                        }

                                        & .views-field-field-img-1 {
                                            min-height: 150px;
                                        }

                                        &:hover {
                                            top: 0;
                                            box-shadow: none;
                                            z-index: 0;

                                            & .views-field-field-img-1 {
    
                                                & img {
                                                    box-shadow: none;
                                                    animation: none;
                                                }
                                            }
                                        }

                                        & .views-field-field-img-1 {
                                            position: relative;
                                            bottom: auto;
                                            left: auto;
                                            order: 2;
                                        }
                                    }
                                }
                            }
                         }
                     }
                 }
             }    
        } 
    }
    @media(max-width: 600px){

        & .main {

            & .container {

                & .region {
     
                    & .block-system {
     
                        & .view {
     
                            & .view-content {
                                width: 100%;
                                margin: 0 auto;
     
                                & .js-news-item {
                                     max-width: 100%;
                                     margin: 0 0 3rem 0;
                                }
                            }
                         }
                     }
                 }
             }    
        } 
    }
}

.text-center {
    @media(max-width: 1025px){
        margin: 3rem auto 5rem auto;
    }
}

.page-node-48 {
    @media(max-width: 1025px){
        & .region-content {
            
            & .block-system {

                & .node-contacts {

                    & .field-name-field-graphic {
                        margin: 0 0 7rem 0;
                    }
                }
            }
        }
        & .region-under-main2 {

                & .block-block {
                    height: 300px;
                    width: 100%;
                }
            }
        }
    @media(max-width: 670px){
        
        & .region-content {
            
            & .block-system {

                & .node-contacts {

                    & .field-name-field-gen-cont {
                        max-width: 100%;
                        margin: 0 0 3rem 0;
                    } 
                    & .field-name-field-htrdbpbns {
                        max-width: 100%;
                        margin: 0 0 3rem 0;
                    }
                    & .field-name-field-graphic {
                        margin: 0 0 4rem 0;
                    }
                }
            }
        }
    }
}

.page-taxonomy-term {
    @media(max-width: 1025px){

        & .main {

            & .region-content {

                & .view {

                    & .view-content {

                        & .views-row  {
                            max-width: calc(33% - 30px);
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 820px){

        & .main {

            & .region-content {

                & .view {

                    & .view-content {

                        & .views-row  {
                            max-width: calc(50% - 30px);
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 520px){

        & .main {

            & .region-content {

                & .view {

                    & .view-content {
                        margin: 0 auto;
                        width: 100%;

                        & .views-row  {
                            max-width: 100%;
                            margin: 105px 0 20px 0;
                            padding: 0 1.9rem 2.2rem 1.9rem;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

.node-type-product {

    @media(max-width: 1250px){

        & .main {

            & .region-content {

                & .node-product {
                    margin: 9rem 0 0 0;
                 
                    & .group-footer {

                        & .field-group-htabs-wrapper {

                            & .horizontal-tabs {

                                & ul.horizontal-tabs-list {

                                    & li {

                                        & a {
                                            font-size: 1.6rem;
                                            padding: .5em 8px;
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
    @media(max-width: 1200px){

        & .main {

            & .region-content {

                & .node-product {
                    margin: 5rem 0 0 0;
                 
                    & .group-footer {

                        & .field-group-htabs-wrapper {

                            & .horizontal-tabs {

                                & .horizontal-tabs-panes {

                                    & .panel-body  {
                                        padding: 3rem 0 0 0;
                                    }
                                }

                                & ul.horizontal-tabs-list {

                                    flex-direction: column;
                                    align-items: flex-start;

                                    & li {
                                        display: block;
                                        width: 100%;

                                        &:first-child {

                                            & a {
                                                padding: .5em 8px; 
                                            }
                                        }
                                        &:last-child {
                                            
                                            & a {
                                                padding: .5em 8px; 
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
    @media(max-width: 1024px){

        & .main {

            & .region-content {

                & .node-product {
                 
                    & .group-right {

                        & .group-2 {
                            margin: 0 0 2rem 0;

                            & .field-name-title {
                                margin: 0 0 2rem 0;

                                & .field-items {

                                    & .field-item {

                                        & h2 {
                                            font-size: 3.8rem;
                                        }
                                    }
                                }
                            }

                            & .field-name-field-descriptions {
                                margin: 0 0 2.5rem 0;

                                & .field-items {

                                    & .field-item {

                                        & p {
                                            font-size: 1.7rem;
                                        }
                                    }
                                }
                            }
                        }
                        & .field-name-field-griding {

                            & .field-label {
                                margin: 0 0 2rem 0;
                                font-size: 1.7rem;
                            }
                        }
                        & .field-collection-container {

                            & .field-label {
                                margin: 0 0 2rem 0;
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 850px){

        & .main {

            & .region-content {

                & .node-product {
                    margin: 4rem 0 0 0;
                 
                    & .group-footer {

                        & .field-group-htabs-wrapper {

                            & .horizontal-tabs {

                                & .horizontal-tabs-panes {

                                    & .field-name-know-partner-themes {

                                        & .webform-client-form {

                                            & .webform-component-markup {
                                                margin: 0 0 .5rem 0;
                                            }
                                        }

                                        & .webform-client-form {

                                            & .js-tabForm__top {

                                                margin: 0;
                                                width: 100%;

                                                & .form-item {
                                                    max-width: 100%;
                                                    width: 100%;
                                                    margin: 5px 0 15px 0;
                                                }
                                            }

                                            & .js-tabForm__bottom {
                                                width: 100%;
                                                margin: 2rem 0 0 0;

                                                & .form-item {
                                                    width: 100%;
                                                    max-width: 100%;
                                                }
                                                & .captcha {
                                                    width: 100%;
                                                    max-width: 100%;
                                                    margin: 0 0 1rem 0;

                                                    & .g-recaptcha {
                                                        transform: scale(.9);
                                                    }
                                                }
                                                & .form-actions {
                                                    width: 100%;
                                                    max-width: 100%;
                                                    align-items: flex-start;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
    @media(max-width: 769px){

        & .main {

            & .region-content {

                & .node-product {

                    & .group-left {
                        max-width: 100%;
                        margin: 0 0 2rem 0;

                        & .field-item {
                            width: 100%;
                            height: 280px;
                            align-items: flex-start;

                            & img {
                                max-height: 100%;
                                width: auto;
                            }
                        }
                    }
                 
                    & .group-right {
                        max-width: 100%;

                        & .field-name-feedback-fancybox {

                            & .field-items {

                                & .field-item {

                                    & .button_applic_form {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 600px){

        & .main {

            & .region-content {

                & .node-product {
                 
                    & .group-footer {

                        & .field-group-htabs-wrapper {

                            & .horizontal-tabs {

                                & p {
                                    margin: 0 0 2rem 0;
                                    font-size: 1.7rem;

                                    & a {
                                        font-size: 1.7rem;
                                    }
                                }

                                & ul.horizontal-tabs-list {

                                    & li {

                                        &:first-child {

                                            & a {
                                                padding: .5em 4px; 
                                            }
                                        }
                                        &:last-child {
                                            
                                            & a {
                                                padding: .5em 4px; 
                                            }
                                        }

                                        & a {
                                            font-size: 1.4rem;
                                            padding: .5em 4px;

                                            & strong {
                                                white-space: normal;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
    @media(max-width: 500px){

        & .main {

            & .region-content {

                & .node-product {

                    & .group-left {

                        & .field-item {
                            align-items: center;
                        }
                    }
                 
                    & .group-right {

                        & .field-name-field-griding {
                            max-width: 100%;
                            margin: 0 0 1.8rem 0;
                        }
                        & .field-collection-container {
                            max-width: 100%;
                            margin: 0 0 1.8rem 0;
                        }
                        & .field-name-feedback-fancybox {
                            margin: 0;

                            & .field-items {

                                & .field-item {
                                    flex-direction: column;
                                    align-items: flex-start;

                                    & .product_price {
                                        margin: 0 0 1.8rem 0;;
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }
    }
    @media(max-width: 900px){

        & .under-main {

            & .region-under-main {
                padding: 4rem 0;

                & .js-product-form {
                    align-items: center;

                    & .block-webform {
                        max-width: 70%;
                        margin: 0 0 0 30%;

                        & h2 {
                            margin: 0 0 1.4rem 0;
                        }

                        & form > div {

                            & .form-type-markup {
                                margin: 0 0 2.2rem 0;

                                & p {
                                    font-size: 1.7rem;
                                }
                            }

                            & .form-item {
                                max-width: 100%;
                            }

                            & .form-actions {
                                margin: 2rem 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 670px){

        & .under-main {

            & .region-under-main {
                padding: 3rem 0;

                & .js-product-form {

                    & .block-webform {
                        max-width: 80%;
                        margin: 0 0 0 20%;

                    }
                }
            }
        }
    }
    @media(max-width: 550px){

        & .under-main {

            & .region-under-main {

                & .js-product-form {

                    & .block-webform {
                        max-width: 90%;
                        margin: 0 0 0 10%;

                    }
                }
            }
        }
    }
    @media(max-width: 450px){

        & .under-main {

            & .region-under-main {

                & .js-product-form {

                    & .block-webform {
                        max-width: 100%;
                        margin: 0;

                        & .g-recaptcha {
                            transform-origin: 0 0;
                            transform: scale(.9);
                        }

                    }
                }
            }
        }
    }
}

.view-interest {

    @media(max-width: 1025px){

        & .view-content {

            & .views-row  {
                max-width: calc(33% - 30px);

                &:last-child {
                    display: none;
                }
            }
                    
        }
    }
    @media(max-width: 820px){

        & .view-content {

            & .views-row  {
                max-width: calc(50% - 30px);

                &:first-child {
                    display: none;
                }
            }
        }
    }
    @media(max-width: 520px){

        & .view-content {
            margin: 0 auto;
            width: 100%;

            & .views-row  {
                max-width: 100%;
                margin: 105px 0 20px 0;
                padding: 0 1.9rem 2.2rem 1.9rem;
                align-items: center;
            }
        }
    }
}

.node-type-about-us {
    
    @media(max-width: 900px){

        & .under-main {

            & .region-under-main {
                padding: 4rem 0;

                & .js-product-form {
                    align-items: center;

                    & .block-webform {
                        max-width: 70%;
                        margin: 0 0 0 30%;

                        & h2 {
                            margin: 0 0 1.4rem 0;
                        }

                        & form > div {

                            & .form-type-markup {
                                margin: 0 0 2.2rem 0;

                                & p {
                                    font-size: 1.7rem;
                                }
                            }

                            & .form-item {
                                max-width: 100%;
                            }

                            & .form-actions {
                                margin: 2rem 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 670px){

        & .under-main {

            & .region-under-main {
                padding: 3rem 0;

                & .js-product-form {

                    & .block-webform {
                        max-width: 80%;
                        margin: 0 0 0 20%;

                    }
                }
            }
        }
    }
    @media(max-width: 550px){

        & .under-main {

            & .region-under-main {

                & .js-product-form {

                    & .block-webform {
                        max-width: 90%;
                        margin: 0 0 0 10%;

                    }
                }
            }
        }
    }
    @media(max-width: 450px){

        & .under-main {

            & .region-under-main {

                & .js-product-form {

                    & .block-webform {
                        max-width: 100%;
                        margin: 0;

                        & .g-recaptcha {
                            transform-origin: 0 0;
                            transform: scale(.9);
                        }

                    }
                }
            }
        }
    }
}